[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
pydantic = "*"
sqlalchemy = "*"
uvicorn = "*"
alembic = "*"
psycopg2 = "*"
psycopg2-binary = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}

[requires]
python_version = "3.8"
